<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Me</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
          I'm a Software Engineer employed at <a href="https://www.read.ai/">Read AI</a>, where I work on the
          Experiences team.
          <br /><br />
          In 2025, I completed a thru-hike of the 2197.4 mile Appalachian Trail! You can read about my adventures on <a
            href="https://thetrek.co/author/edward-li/">The Trek</a>.
          <br /><br />
          In my free time, you can either catch playing board games with friends (my current obsession is Dune:
          Imperium!),
          worrying about my journal, or continuing to flesh out my video game <a
            href="https://backloggery.com/cheeseisland">backlog</a>.
          I am also an amateur rock climber and ultra-runner. <br /><br />
          I live with my wonderful VOID cat <a href="https://eddyli.dev/kaine.jpg">Kainé</a> in the Cap Hill district of
          Seattle, WA.
          <br /><br />
          I also used to be involved in the pageantry arts, (Drum Corps, WGI Indoor Percussion). You can usually find me
          as a member of United Percussion's
          volunteer staff at New England events and World Class Finals. I marched in the following shows:
        <ul class="col-lg-8 col-lg-offset-2 text-left">
          <li><a href="https://www.youtube.com/watch?v=3auDQt_kfpQ&ab_channel=DrumCorpsInternational">Pioneer 2016: The
              Story of St. Joan of Arc</a> | 28th Place</li>
          <li><a href="https://www.youtube.com/watch?v=TbflNCc0xyM&ab_channel=DrumCorpsInternational">Cavaliers 2017:
              Men Are From Mars</a> | 4th Place</li>
          <li><a href="https://www.youtube.com/watch?v=0EVewWH8Pz4&ab_channel=DrumCorpsInternational">Cavaliers 2018: On
              Madness and Creativity</a> | 6th Place</li>
          <li><a href="https://www.youtube.com/watch?v=ZlEW28HxMME&ab_channel=DrumCorpsInternational">Cavaliers 2019:
              The Wrong Side of the Tracks</a> | 5th Place</li>
          <li><a href="https://www.youtube.com/watch?v=EquwZwECJkM&ab_channel=UnitedPercussion">United Percussion 2020:
              Searching</a> | <i>Season Cut Short Due to COVID-19 Pandemic</i></li>
          <li><a href="https://www.youtube.com/watch?v=oYp5SuQ0MKM">United Percussion 2022: The World is Watching</a> |
            6th Place</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</section>