<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <ul class="timeline">
			<li>
                            <div class="timeline-panel">
				<div class="timeline-image">
                                    <img class="img-circle img-responsive test" src="img/about/meta.jpg" alt="">
				</div>
                                <div class="timeline-heading">
                                    <h4>Meta, Inc.</h4>
                                    <h4 class="subheading">Senior Software Engineer (Mobile Networking Services)</h4>
				    <h6>June 2021 - Present</h2>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I've previously worked on the Conveyor team, which is the Continuous Deployment Platform at Meta.
                                        On the team, I work mostly on facilitating the migration of Meta from Conveyor2, an older slower system written in Python,
                                        to Conveyor3, a newer system written in Rust that provides Meta engineers more flexibility for their deployments. For more information,
                                        check out <a href="https://www.youtube.com/watch?v=SFxeWZDPU3o">this talk</a> from Systems @ Scale 2023.
                                    </p>
				    <div class="skillz">C++, Mobile Development (Java/Kotlin | Obj-C/Swift), Rust, Hack, Python</div>
                                </div>
				
                            </div>
                        </li>
			<br>
			<br>
			<li>
                            <div class="timeline-panel">
				<div class="timeline-image">
                                    <img class="img-circle img-responsive test" src="img/about/facebook.png" alt="">
				</div>
                                <div class="timeline-heading">
                                    <h4>Facebook, Inc.</h4>
                                    <h4 class="subheading">Software Engineer Intern (Payment Infrastructure)</h4>
				    <h6>June 2020 - September 2020</h2>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was on the Payments Infrastructure team, where we built internal tools to help other Facebook engineers adopt payments within the company. At my time there, I helped to create a web tool which assisted engineers in mapping out the work needed to adopt payment tools for their services. It used Hack and reflection/meta-programming to determine what needed to be done by engineers, and then organized these steps into an actionable workflow. The tool also did some metrics tracking on endpoints to allow engineers to know which endpoints were receiving what types of traffic. </p>
				    <div class="skillz">Hack, React</div>
                                </div>
				
                            </div>
                        </li>
			<br>
			<br>
                        <li>
                            <div class="timeline-panel">
				<div class="timeline-image">
                                    <img class="img-circle img-responsive test" src="img/about/1.jpg" alt="">
				</div>
                                <div class="timeline-heading">
                                    <h4>Datto, Inc.</h4>
                                    <h4 class="subheading">Software Engineer Intern (DNET Routers & Switches)</h4>
				    <h6>January 2020 - June 2020</h2>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was on the Datto Networking Routers & Switches team, where we build software to help our Managed Service Providers monitor and control managed network devices, most specifically, routers and switches. At my time here, I scrubbed our front end of all XSS vulnerabilities, as well as created a Docker environment for our events pipeline, allowing our developers to easily get set up, and develop. During my time here, I learned how to push out effective code efficiently, by the time I left, we were set to finish our new managed switches in 2/3rds the projected amount of time it'd take.</p>
				    <div class="skillz">Go, Javascript, PHP, MySQL, Docker, Python, C++</div>
                                </div>
				
                            </div>
                        </li>
			<br>
			<br>
                        <li>

                            <div class="timeline-panel">
				<div class="timeline-image">
                                    <img class="img-circle img-responsive test" src="img/about/2.jpg" alt="">
				</div>
                                <div class="timeline-heading">
                                    <h4>Akamai Technologies</h4>
                                    <h4 class="subheading">Technical Support Engineer Intern (Web Support)</h4>
				    <h6>January 2019 - May 2019</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Akamai, I was on the Technical Support team, helping the full-timers troubleshoot network connectivity issues, slowdowns, and configuration issues on the Akamai Intelligent Edge Platform. I also served as the internal scripter for the team, creating tools to assist with the cleaning up of old, large files on Linux servers used by Engineers, as well as assisting on the design of a "Quest" system to game-ify learning.</p>
				    <div class="skillz">Bash, Python, Django, awk, grep</div>
                                </div>

                            </div>
                        </li>
			<br>
			<br>
                        <li>
                            <div class="timeline-panel">
				<div class="timeline-image">
                                    <img class="img-circle img-responsive test" src="img/about/3.jpg" alt="">
				</div>
                                <div class="timeline-heading">
                                    <h4>Northeastern University</h4>
                                    <h4 class="subheading">Tutor for Fundamentals of Computer Science I</h4>
				    <h6>September 2018-December 2019</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I tutor students for our Fundamentals of Computer Science class, which entails holding office hours, grading, and answering questions on the online forum Piazza. This also includes assisting in weekly labs, answering questions about the weekly lab assignments, as well as proctoring weekly quizzes.</p>
                                </div>
				<div class="skillz">Racket family of languages</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
