<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Datto, Inc.</h4>
                                    <h4 class="subheading">Software Engineer Intern (DNET Routers & Switches)</h4>
				    <h6>January 2020 - Present</h2>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm on the Datto Networking Routers & Switches team, where we build software for MSPs to help manage their Routers and Switches, while also building new features for said hardware. On the team, I've helped maintain the UI MSPs use to interface with products, while also hunting down security vulnerabilities. I've also helped develop firmware and services for our products.</p>
                                </div>
				<div>PHP, Javascript, Go, MySQL, C++, Python</div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Akamai Technologies</h4>
                                    <h4 class="subheading">Technical Support Engineer Intern (Web Support)</h4>
				    <h6>January 2019 - May 2019</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At Akamai, I was on the Technical Support team, helping the primary engineers troubleshoot network connectivity issues, slowdowns, and configuration issues on the Akamai Intelligent Edge Platform. I also served as the internal scripter for the team, creating internal tools to assist with the cleaning up of old, large files on Linux servers used by Engineers, as well as assisting on the design of a "Quest" system to game-ify learning at Akamai.</p>
                                </div>
				<div>Bash, Python, Django, awk, grep</div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Northeastern University</h4>
                                    <h4 class="subheading">Tutor for Fundamentals of Computer Science I</h4>
				    <h6>September 2018-December 2019</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I tutor students for our Fundamentals of Computer Science class, which entails holding office hours, grading, and answering questions on the online forum Piazza. This also includes assisting in weekly labs, answering questions about the weekly lab assignments, as well as proctoring weekly quizzes.</p>
                                </div>
				<div>Racket family of languages</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
